<section id="controls">

	<div id="next_video" class="controls_content next">
		<div class="data">
			<p class="controls_title"><%= t('next_video') %></p>
			<p id="next_title" class="controls_video_title"><%= @playlist[0].title %></p>
			<h5 id="author" class="next">
				<%= t('mainvideo_from') %>
				<span class="author_title" id="next_author"><%= @playlist[0].author%></span>
			</h5>
			<%= image_tag(@playlist[0].thumbnail, :alt => "", :width => '250px', :id => "next_thumb") %>
		</div>

		<div class="icon-right-open-big icon"></div>

	</div><div id="prev_video" class="controls_content previous">
		
		<div class="icon-right-open-big icon"></div>

		<div class="data">
			<p class="controls_title"><%= t('previous_video') %></p>
			<p id="previous_title" class="controls_video_title">NO PREVIOUS VIDEO</p>
			<h5 id="author" class="hidden previous">
				<%= t('mainvideo_from') %>
				<span class="author_title" id="previous_author"></span>
			</h5>
			<img src="" alt="" id="previous_thumb" width="250px">
		</div>
	</div>

</section>