<section id="controls">

	<div id="next_video" class="controls_content next">
		<div class="data">
			<p class="controls_title"><%= t('next_video') %></p>
			<p id="next_title" class="controls_video_title"><%= @playlist[0].title %></p>
			<h5 id="author">
				<%= t('mainvideo_from') %>
				<span class="author_title"><%= @playlist[0].author%></span>
			</h5>
			<%= image_tag(@playlist[0].thumbnail, :alt => "rss feed", :width => '250px', :id => "next_thumb") %>
		</div>

		<div class="icon-right-open-big icon"></div>

	</div>

	<div id="prev_video" class="controls_content previous">
		
		<div class="icon-right-open-big icon"></div>

		<div class="data">
			<p class="controls_title"><%= t('previous_video') %></p>
			<p id="prev_title" class="controls_video_title">AAAAAAAA</p>
			<h5 id="author">
				<%= t('mainvideo_from') %>
				<span class="author_title">BBBBBBBBB</span>
			</h5>
			<%= image_tag(@playlist[0].thumbnail, :alt => "rss feed", :width => '250px', :id => "next_thumb") %>
		</div>
	</div>

</section>